<footer class="py-5 bg-dark mt-auto">
  <div class="container px-5">
    <p class="m-0 text-center text-white">EventHub &copy; 2026</p>
    <p class="m-0 text-center text-white-50 small"> Course: Web Technologies | Semester 2026-10</p>
  </div>
</footer>
